<!-- views/partials/footer.ejs -->

<div class="container">
  <div class="pull-left">
    <p class="text-muted">&copy; Catálogo Web</p>
  </div>

  <div class="pull-right">
    <p class="text-muted"><a href="https://github.com/edmundo096/catalogo-web">Repositorio en GitHub</a></p>
  </div>
</div>
