<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Catálogo Web</title>

    <!-- Fonts -->
    <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel='stylesheet' type='text/css'>

    <!-- Styles -->
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="/stylesheets/bootstrap-custom.css" rel="stylesheet">
    <link href="/stylesheets/main.css" rel="stylesheet">
</head>

<body ng-app="catalogoWebApp">

<nav class="navbar navbar-default">
  <% include partials/header.ejs %>
</nav>

<main class="container-fluid" ng-controller="MainController as mainCtrl">

  <!-- List -->
  <section class="col-sm-6">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

      <div class="panel panel-default" ng-repeat="category in mainCtrl.categories">
        <div class="panel-heading" role="tab">
          <a role="button" data-toggle="collapse"
             data-parent="#accordion" ng-href="#collapse{{category.name}}"
             aria-expanded="true" aria-controls="collapseOne">
            Género {{category.name}}
          </a>
        </div>
        <div id="{{'collapse'+category.name}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">

            <a class="movie-thumb col-xs-4"
               ng-repeat="movie in category.content"
               ng-click="mainCtrl.showDescriptionOf(movie)">
              <div ng-bind-html="movie.img"></div>
            </a>

          </div>
        </div>
      </div>

    </div>
  </section><!-- /List -->

  <!-- Description -->
  <section class="col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">{{mainCtrl.movie.name || '◀ Seleccione una película'}}</h3>
      </div>
      <div class="panel-body" ng-bind-html="mainCtrl.movie.content_html">

        <!--<h3>Película</h3>-->
        <!--<img src="" alt="">-->
        <!--<p>Texto</p> -->

      </div>

    </div>
  </section><!-- /Description -->

</main>

<footer id="footer">
  <% include partials/footer.ejs %>
</footer>

<!-- JavaScripts -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>

<script src="/scripts/app.js"></script>
<script src="/scripts/controllers/main.js"></script>
<script src="/scripts/services/jsonContainer.js"></script>

</body>
</html>
